<div class="row">
    <div class="col-md-12">
        <!-- Contact starts -->
        <div class="contact">
            <div class="row">
                <div class="col-md-12">
                    <!-- Contact hero -->
                    <div class="hero">
                        <!-- Title. Don't forget the <span> tag -->
                        <h3><span>Contato</span></h3>
                        <!-- para -->
                        <p>Faça uma visita a(o) <%= ENV['STUDENTCASYSTEM_NOME_ENTIDADE'] %>, deixe sua reclamação, sugestão, denúncia... Será um prazer recebê-lo.</p>
                    </div>
                    <!-- Contact -->
                    <div class="contact">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="cwell">
                                 	<%= render template: 'contatos/new' %>
                                    <div class="csoci">  
                                        <!-- Social media icons -->
                                        <strong>Redes Sociais</strong>
                                        <div class="social">
                                            <a href="https://www.facebook.com/dceuespi/"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                           </div>
                           <div class="col-md-6 col-sm-6">
                                <div class="cwell">
	                                <!-- Google maps -->
	                                <div class="gmap">
	                                 <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
	                                 <iframe src="https://her.is/2r1qy7b" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	                                </div>
                                    <!-- Address section -->
                                    <h5>Endereço</h5>
                                    <hr />
                                    <div class="address">
                                        <address>
                                            <!-- Company name -->
                                            <strong><%= @entidade.sigla %></strong><br>
                                            <!-- Address -->
                                            <%= @entidade.logradouro %><br>
                                            <%= @entidade.cidade %>&nbsp;-&nbsp;<%= @entidade.uf %>&nbsp;&nbsp;<%= @entidade.cep%><br>
                                            <!-- Phone number -->
                                            <abbr title="Phone">Tel:</abbr>+55 <%= @entidade.telefone %><br />
                                        </address>
                                             
                                        <address>
                                            <!-- Name -->
                                            <strong><%= @entidade.nome %></strong><br>
                                            <!-- Email -->
                                              <a href="mailto:#"><%= @entidade.email %> %></a>
                                        </address>
                                    </div>
                                </div>
                           </div>
                        </div> 
                    </div>  
                </div>
            </div>
        </div>
        <!-- Service ends -->
    <!-- CTA Ends -->      
    </div>
</div>